<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/awesome-bootstrap-checkbox.css') }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{server_name}}</a>

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/dashboard/logout">Log out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Navigation</span>
            </h6>

            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <span data-feather="home"></span>
                  Marko Home
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/dashboard/servers">
                  <span data-feather="server"></span>
                  Change Servers
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>General</span>
            </h6>

            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                  <span data-feather="settings"></span>
                  Config
                </a>
              </li>
            </ul>
           
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Plugins</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>

            <ul class="nav flex-column mb-2">
            {% for plugin in plugins -%}
              <li class="nav-item">
                {%- if plugin in enabled_plugins -%}
                <a class="nav-link" href="/dashboard/plugins/{{ plugin }}">
                {% else %}
                <a class="nav-link" data-toggle="modal" href="#{{plugin}}-modal">
                {% endif %}
                  <span data-feather="file-text"></span>
                  {{ plugin }}
                  {%- if plugin in enabled_plugins -%}
                  <span class="badge badge-pill badge-success pull-right">Enabled</span>
                  {% else %}
                  <span class="badge badge-pill badge-danger pull-right">Disabled</span>
                  {% endif %}
                </a>
              </li>
            {%- endfor %}
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                {% if message.startswith('OK') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% elif message.startswith('Oops') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% else %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {% endif %}
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          {% block content %}
          {% endblock %}
        </main>
      </div>

      {% for plugin in plugins -%}
        {%- if plugin not in enabled_plugins -%}
          <div class="modal fade" id="{{plugin}}-modal" tabindex="-1" role="dialog" aria-labelledby="{{plugin}}-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Enable plugin?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  This plugin is disabled. To manage it you must first enable it... Do you want to do that?
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <form action="/dashboard/enable_plugin/{{plugin}}" method="POST">
                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                    <button class="btn btn-primary">Enable</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {%- endfor %}
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    
    <script>
        $('ul > li > a[href="' + document.location.pathname + '"]').addClass('active');
    </script>
  </body>
</html>
