{% extends "dashboard.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ plugin }}</h1>

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <form action="/dashboard/disable_plugin/{{plugin}}" method="POST">
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-sm btn-outline-secondary">Disable Plugin</button>
            </form>
        </div>
    </div>
</div>

<form role="form" autocomplete="off">
    <input type="hidden" name="_plugin" readonly value="{{plugin}}">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    {% for cmd in commands -%}
    <div class="card">
        <h5 class="card-header">{{ cmd }}</h5>
        <div class="card-body">
            <h5 class="card-title">
                {{ commands[cmd]["description"] }}
                <label class="switch pull-right">
                    {%- if cmd in enabled_commands -%}
                    <input type="checkbox" checked onclick="update_cmd(this, '{{cmd}}');">
                    {% else %}
                    <input type="checkbox" onclick="update_cmd(this, '{{cmd}}');">
                    {% endif %}
                    <span class="slider round"></span>
                </label>
            </h5>
            <code class="card-text"><b>Usage: </b>{{ commands[cmd]["usage"] }}</code><br><br>
        </div>
    </div><br>
    {%- endfor %}
</form>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
var csrf_token = "{{ csrf_token() }}";

$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", csrf_token);
    }
  }
});

function update_cmd(cb, cmd) {
  if (cb.checked) {
    $.post("/dashboard/enable_command/" + cmd);
  } else {
    $.post("/dashboard/disable_command/" + cmd);
  }
}
</script>
{% endblock %}
