{% extends "home.html" %}
{% block title %}Marko - Your Servers{% endblock %}

{% block navbar %}
<a class="nav-link" href="/"><span class="fas fa-home fa-sm"></span> Home</a>
<a class="nav-link" href="/commands"><span class="fas fa-terminal fa-sm"></span> Commands</a>
<a class="nav-link active" href="/dashboard/servers"><span class="fas fa-server fa-sm"></span> Your Servers</a>
<a class="nav-link" href="/dashboard"><span class="fas fa-cog fa-sm"></span> Dashboard</a>
{% endblock %}

{% block content %}
<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-blurple rounded box-shadow">
    <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">These are your servers</h6>
        <small>Just click the icon of the server you want to manage</small>
    </div>
</div>

<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Servers</h6>
    {% for server in servers -%}
    <div class="media text-muted pt-3">
        <a href="/dashboard/server/{{ server['id'] }}">
            {%- if server['icon'] -%}
            <img data-toggle="tooltip" title="{{ server['name'] }}" data-placement="bottom" class="mr-2 rounded" src="https://cdn.discordapp.com/icons/{{ server['id'] }}/{{ server['icon'] }}.png?size=32">
            {% else %}
            <img data-toggle="tooltip" title="{{ server['name'] }}" data-placement="bottom" class="mr-2 rounded" src="http://placehold.it/32x32">
            {% endif %}
        </a>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">{{ server['name'] }}</strong>
            {% if server['owner'] %}
            You are the owner of this server.
            {% else %}
            Your permissions in this server: {{ server['permissions'] }}
            {% endif %}
        </p>
    </div>
    {%- endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
{% endblock %}
