a,
a:focus,
a:hover {
  color: #fff;
}

hr {
  background-color: #99AAB5;
}

.white-link {
  color: #EEEEEE;
}

.white-link:hover {
  color: #d4d4d4;
}

.btn-invite {
    border-radius: 1px;
    border-color: #fff;
    background-color: #7289DA;
    color: #fff;
    margin-left: 10px;
}

.btn-invite:hover,
.btn-invite:focus {
    background-color: #6d78a4;
}

html,
body {
  height: 100%;
  background-color: #2C2F33;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 20px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.content {
  padding-top: 50px;
  padding-bottom: 20px;
}

.masthead {
  color: #fff;
  padding-top: 5px;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.mastfoot {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  color: rgba(255, 255, 255, .5);
  text-align: center;
}

.nav-icon-margin {
  margin-left: 10px;
}

.nav-icon .active,
.nav-icon-margin .active,
.nav-icon:hover, .nav-icon:focus,
.nav-icon-margin:hover, .nav-icon-margin:focus {
  border-bottom: 0;
  color: #fff;
}

.border-blurple {
  border-color: #7289DA;
}

.bg-blurple {
  background-color: #7289DA;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #7289DA;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }
.bg-blue { background-color: var(--blue); }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-bottom-padded { border-bottom: 1px solid #e5e5e5; padding-bottom: 10px; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
.text-grey { color: #9E9E9E; }
.text-not-white { color: #EEEEEE; }
.section { margin-bottom: 80px; }
.half-section { margin-bottom: 40px; }
